.prose {
  font-family: 'Merriweather', 'Georgia', serif;
  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: Comfortaa;
  }
  hr {
    margin-bottom: 1.25em;
  }
  p {
    margin-bottom: 1.25em;
  }
}
