@font-face {
  font-family: "iconfont"; /* Project id 3713992 */
  src: url('iconfont.woff2?t=1666086644277') format('woff2'),
       url('iconfont.woff?t=1666086644277') format('woff'),
       url('iconfont.ttf?t=1666086644277') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e64c";
}

.icon-moon:before {
  content: "\e866";
}

.icon-zhongyingwen:before {
  content: "\e7a3";
}

.icon-github:before {
  content: "\e7a5";
}

.icon-rss:before {
  content: "\e854";
}

.icon-yin-yang:before {
  content: "\e670";
}

.icon-Dmoxingx:before {
  content: "\e62a";
}

